html {
  scrollbar-width: thin;
}
body {
  width: 30rem;
  background-image: radial-gradient(circle at top left, #87CEFA 150px ,white  700px) ;
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: large;
  margin: 0px;
}
body > *:not(header) {
  margin-left: 20px;
}
div {
  font-weight: 700;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}
button {
  width: 9rem;
  height: 4rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 0;
  color: white;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  background-image: radial-gradient(
    circle at top left,
    rgb(5, 80, 135) 0%,
    rgb(0, 145, 205) 100%
  );
  filter: drop-shadow(0px 2px 2px black);
}
button:hover {
  filter: saturate(110%) drop-shadow(0px 5px 5px black);
}
button:active {
  transform: translateY(2px);
  filter: none;
}

button:disabled {
  background-image: none;
  background-color: gray;
  color: white;
  cursor: auto;
}
button:disabled:hover{
  filter: none;
  transform: none;
}

.links {
  width: 90%;
  height: auto;
}
table {
  table-layout: fixed;
  display: none;
  border-spacing:0px;
  border:2px solid gray;
  border-radius:10px;
  overflow:hidden;
  /* align-self:center; */
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right:1rem;
  filter:drop-shadow(0px 4px 3.5px black);
  
}

th {
  width:21rem;
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  border: solid 1px rgba(255, 255, 255, 0.1);
  background-color:rgb(5, 80, 135);
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  background:#4682B4;
}
.link {
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  color: white;
  text-decoration: underline;
  box-shadow: none;
  text-align: left;
  font-family: "Inconsolata", monospace;
  font-size: 15px;
  cursor: pointer;
}
.link:active {
  transform: none;
  box-shadow: none;
}
.link:hover {
  color: midnightblue;
  filter: none;
}
#buttonLoader {
  width: inherit;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
}
.buttonSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#randomFact {
  width: 10rem;
  height: fit-content;
  font-size: 1.2em;
  align-content: center;
  padding: 5px 5px 5px 5px;
  font-weight: 300;
  font-style: italic;
  color:darkslategray;
}

header {
  width: inherit;
  height: 4rem;
  display: flex;
  background-color: rgb(5,80,135);
  justify-content: center;
  align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset rgb(0, 145, 205);
  animation: l5 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}
@keyframes l5{
  0%    {inset:0    35px 35px 0   }
  12.5% {inset:0    35px 0    0   }
  25%   {inset:35px 35px 0    0   }
  37.5% {inset:35px 0    0    0   }
  50%   {inset:35px 0    0    35px}
  62.5% {inset:0    0    0    35px}
  75%   {inset:0    0    35px 35px}
  87.5% {inset:0    0    35px 0   }
  100%  {inset:0    35px 35px 0   }
}